#home {
    display: flex;
    flex-direction: column;
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(../Assets/office-791733_960_720.jpg) no-repeat center center/cover;
    height: 800px;
    width: 100%;
    z-index: -1;
    opacity: .5;
}